<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog.pad</title>
  <link rel="stylesheet" href="default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@basementuniverse/jsonpad-sdk@1.4.0/build/jsonpad-sdk.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</head>
<body>
  <div id="app" class="container">
    <h1 class="page-title">BlogPad</h1>

    <!-- Auth Status -->
    <div v-if="!currentUser" class="user-container user-container-logged-out">
      <button
        @click="showLoginModal"
        class="login-button"
      >
        <i class="fa fa-user"></i>
        Login
      </button>
      <button
        @click="showRegisterModal"
        class="register-button"
      >
        <i class="fa fa-user-plus"></i>
        Register
      </button>
    </div>
    <div v-else class="user-container user-container-logged-in">
      <p>
        Welcome, {{ currentUser.name }}!
        <button
          @click="handleLogout"
          class="logout-button"
        >
          <i class="fa fa-sign-out"></i>
          Logout
        </button>
      </p>
      <button @click="startCreateArticle" class="create-article-button">
        <i class="fa fa-plus"></i>
        Create Article
      </button>
    </div>

    <!-- Articles List -->
    <div v-for="article in articles" :key="article.id" class="article">
      <h3 class="article-title">{{ article.data.title }}</h3>
      <p class="article-metadata">{{ dayjs(article.createdAt).format('D MMMM YYYY HH:mm') }} by {{ article.data.author }}</p>
      <div class="article-content" v-html="showdownConverter.makeHtml(article.data.content)"></div>
      <div
        v-if="currentUser && currentUser.name === article.data.author"
        class="article-controls"
      >
        <button
          @click="deleteArticle(article.id)"
          class="delete-article-button"
        >
          <i class="fa fa-trash"></i>
          Delete
        </button>
        <button
          @click="startEditArticle(article)"
          class="edit-article-button"
        >
          <i class="fa fa-pencil"></i>
          Edit
        </button>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
      <button
        @click="previousPage"
        :disabled="pagination.page === 1"
        class="previous-page-button"
      >
        <i class="fa fa-chevron-left"></i>
        Previous
      </button>
      <button
        @click="nextPage"
        :disabled="pagination.page * pagination.limit >= pagination.total"
        class="next-page-button"
      >
        <i class="fa fa-chevron-right"></i>
        Next
      </button>
    </div>
    
    <!-- Login Modal -->
    <dialog ref="loginDialog" class="login-dialog">
      <h2 class="login-dialog-header">Login</h2>
      <div class="login-dialog-inner">
        <input
          v-model="authForm.name"
          placeholder="Username"
        >
        <input
          v-model="authForm.password"
          type="password"
          placeholder="Password"
        >
        <button
          @click="handleAuth"
          class="login-button"
        >
          <i class="fa fa-sign-in"></i>
          Login
        </button>
        <button
          @click="closeLoginModal"
          class="cancel-button"
        >
          <i class="fa fa-times"></i>
          Cancel
        </button>
      </div>
      <p v-if="authError" class="error">{{ authError }}</p>
    </dialog>

    <!-- Register Modal -->
    <dialog ref="registerDialog" class="register-dialog">
      <h2 class="register-dialog-header">Register</h2>
      <div class="register-dialog-inner">
        <input
          v-model="authForm.name"
          placeholder="Username"
        >
        <input
          v-model="authForm.password"
          type="password"
          placeholder="Password"
        >
        <button
          @click="handleAuth"
          class="register-button"
        >
          <i class="fa fa-user-plus"></i>
          Register
        </button>
        <button
          @click="closeRegisterModal"
          class="cancel-button"
        >
          <i class="fa fa-times"></i>
          Cancel
        </button>
      </div>
      <p v-if="authError" class="error">{{ authError }}</p>
    </dialog>

    <!-- Create article modal -->
    <dialog ref="createArticleDialog" class="create-article-dialog">
      <h3 class="create-article-dialog-header">Create Article</h3>
      <input
        v-model="newArticle.title"
        placeholder="Title"
      >
      <textarea
        v-model="newArticle.content"
        placeholder="Content"
      ></textarea>
      <button
        @click="createArticle"
        class="create-article-button"
      >
        <i class="fa fa-plus"></i>
        Create
      </button>
      <button
        @click="closeCreateArticleModal"
        class="cancel-button"
      >
        <i class="fa fa-times"></i>
        Cancel
      </button>
    </dialog>

    <!-- Edit Modal -->
    <dialog ref="editArticleDialog" class="edit-article-dialog">
      <h3 class="edit-article-dialog-header">Edit Article</h3>
      <input
        v-model="editingArticle.data.title"
        placeholder="Title"
        v-if="editingArticle"
      >
      <textarea
        v-model="editingArticle.data.content"
        placeholder="Content"
        v-if="editingArticle"
      ></textarea>
      <button
        @click="editArticle"
        v-if="editingArticle"
        class="edit-article-button"
      >
        <i class="fa fa-pencil"></i>
        Save
      </button>
      <button
        @click="closeEditArticleModal"
        class="cancel-button"
      >
        <i class="fa fa-times"></i>
        Cancel
      </button>
    </dialog>
  </div>
  <script src="app.js"></script>
</body>
</html>
